@font-face {
    font-family: NunitoSans;
    font-weight: 300;
    font-style: normal;
    src: url('./../font/NunitoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: NunitoSans;
    font-weight: 600;
    font-style: normal;
    src: url('./../font/NunitoSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: NunitoSans;
    font-weight: 800;
    font-style: normal;
    src: url('./../font/NunitoSans-ExtraBold.ttf') format('truetype');
}